	/* Variables*/

:root{

	/* ИНДЕКС ЦВЕТА*/

	/* Текст*/

--basic-text-black:#000000;
--basic-text-medium:#283136;
--basic-text-light:#666666;
--basic-text-white:#FFFFFF;
--additional-text:#444444;

	/* Логотип */
--logo-active:#A6A6A6;

	/* Навигация*/

--basis-text-hover:#FB565A;
--basis-text-active:#000000; /* + Opacity 0.3*/


--icon-normal:linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
--icon-hover:linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
--icon-active:linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;


--icon-topdown-active:#231F20; /*opacity: 0.3;*/
--icon-topdown-hover:#231F20; /*opacity: 0.6;*/
--icon-topdown:#000000; 

--background-normal:#EEEEEE;



--card-text:#666666;

 /* Радио кнопка ,чекбокс */

--checkbox-normal:#4D4D4D;


 /* 1 2 3 Следующая */

--pagination-background-normal:#EEEEEE;
--pagination-background-hover:#DFDFDF;
--pagination-background-active:#D5D5D5; /* =+box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);*/
--pagination-border:#DBDBDB;



	/* Кнопки красная , зеленая желтая*/

--main-accent-normal:#FB565A;
--main-accent-hover:#E74246;
--main-accent-active:#D7373B;

--additional-accent-normal1:#00CA74;
--additional-accent-hover1:#00BC6C;
--additional-accent-active1:#00AA62;

--additional-accent-normal2:#EFC849;
--additional-accent-hover2:#EAB534;
--additional-accent-active2:#E5A722;


	/* КАТАЛОГ ЦВЕТА*/
	
	/* Кнопка серая +  инпуты*/

--show-button-normal:#EEEEEE;
--show-button-hover:#DFDFDF;
--show-button-aktive:#D5D5D5;

--scale-basic:#D7DCDF;
--scale-progress:#00CA74;
--toggle-background:#ABABAB;

--input-normal:#D7DCDE;
--input-hover:#B4B9BB;
--input-active:#000000;
--input-error:#E74246;



}
/* ГЛАВНАЯ СТРАНИЦА*/
img{
	max-width: 100%;
	height: auto;
}
* , *::before, *::after {	/*Для всех элементов сделать! */
    box-sizing: border-box
}
.page-body{
	min-width: 1200px;
	padding: 0;
	margin: 0;
	font-family: 'Roboto','Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--basic-text-medium);
	background: var(--basic-text-white);

	min-height: 100%;
	display: grid;
	grid-template-rows:	/*Ряды: */
		min-content   		/*шапка*/
		1fr 				/*весь контент*/
		min-content;		/*футер*/
}
.page{
	height:100%;
}
.h3{
	margin:0;
	margin-bottom: 16px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--basic-text-black);
}
.h1{
	margin: 0;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-text-black);
	text-align: center;	
}


/* Навигация */

.main-header{	
	background-color:var(--background-normal);
	padding-top: 48px;

}
 .slider-background{ 				  
 	margin-bottom: 80px;
 }

/*  Контейнер*/

.container{
	width: 1200px;
	margin: 0 auto;
	padding:0 20px;	
}

.main-navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:var(--background-normal);
}
.main-header-logo{
	width: 160px;
	flex-shrink: 0;
}
.navigation-link{
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: var(--basic-text-black);
}
.main-header-logo:hover .logo-pict{    /* при наведении картинка в ссылке меняет прозрачность */
	opacity: 0.7;
}
.main-header-logo:active .logo-pict{    /* картинка в ссылке меняет прозрачность */
	opacity: 0.3;
}
.logo-pict{
	display: block;
}
.navigation-list{
	display: flex;
	justify-content: left;
	flex-wrap: wrap; /*если меню станет больше чтобы перенести на след строку*/
	align-items: center;
	list-style: none;
	margin:0;
	padding:0;
	padding-top: 17px;
	max-width: 700px; 
}
.navigation-item{
	margin-right: 45px;
}
.navigation-item:last-child{
	margin-right: 0;
}
.navigation-item a{  
	text-decoration: none;
	color: var(--basic-text-black);
	align-items: center;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--basic-text-black);
}

.navigation-item a:hover{
	color: var(--basis-text-hover);
}
.navigation-item a:active{
	color: var(--basis-text-active);
	opacity: 0.3;
}
.navigation-cart {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	margin-left: 42px;/*чтобы остальное меню не прилипало к корзине, если меню станет больше*/
	padding-top:17px;
	max-width: 120px;
}
.cart-link{
	position:relative;
	padding-left:42px;/*чтобы область ссылки увеличивалась и при наведении на иконку можно было перейти по ссылке*/
}
.cart-link::before{
	position: absolute;
    display: block;
    content: "";
    left: 2px;
    top: 4px;
    width: 15px;
    height: 15px;
    background: url(../img/cart-icon.svg) no-repeat;
}
.navigation-current{
	border-bottom: 2px solid var(--main-accent-normal);
	padding-bottom: 18px;

}

/* Cлайдер  */


.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}
.slider-info{
	background-color: var(--background-normal);
	position:relative;
	margin-bottom: 80px;
}
.slider-list{
	list-style:none;
	padding:0;
	margin:0;

}
.slider-box {
	position:relative;
	align-items: center; 
	padding: 78px 0 80px 0;
	min-height: 431px;
}
.slider-1::after{
	position:absolute;
	display: block;
	content:"";
	width: 760px;
	min-height: 431px;
	background: url(../img/nerds-index-slide1.png) no-repeat;
	top: 0; 
	left: 397px;
}
.slider-2::after{
	position:absolute;
	display: block;
	content:"";
	width: 760px;
	min-height: 431px;
	background-image: url(../img/nerds-index-slide2.png); 
	top: 0; 
	left: 397px;
}
.slider-3::after{
	position:absolute;
	display: block;
	content:"";
	width: 760px;
	min-height: 431px;
	background-image: url(../img/nerds-index-slide3.png); 
	top: 0; 
	left: 397px;
}
.slider-title{
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: var(--basic-text-black);
	margin: 0;
	margin-bottom: 27px;
	max-width: 538px;
} 
.slider-text{
	max-width: 450px;
	margin:0;
	margin-bottom: 39px;
}
.slider-controls{
	position: absolute;
    display: flex;
    left: 50%;
    bottom: 96px;
    transform: translateX(-50%);
}
.slider-controls .button-control{
	position: relative;
	padding: 0;
	width: 18px;
	height: 18px;
	background-color: var(--basic-text-white);
	border-radius:50%;
	border:none;
	cursor: pointer;
	margin-right: 17px;
}

.slider-controls .button-control:last-child{
	margin-right: 0px;
}
.button-control-current::before{	
	position: absolute;
	display: block;
	content:"";
	width: 8px;
    height: 8px;
    top: 5px;
    left: 5px;
    background-color:var(--basic-text-white);
    border: 2px solid #C4C4C4;
    border-radius: 50%;
    
}
.slide{
	display: none;
}
.slider-current{
	display: block;
}

/* Кнопка  */

.button{
	font-family: inherit;
	color: var(--basic-text-white);
	background-color:var(--main-accent-normal);
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	min-width: 240px;
	height: 50px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border:none;
	border-radius: 3px;
	padding:10px 15px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}
.button:hover{
	background-color: var(--main-accent-hover);
}
.button:active{ 	/* шрифт белый полупрозрачный */
	color: rgba(255,255,255,0.3);
 	background-color: var(--main-accent-active);
}

/* Услуги  */


.services{
	border-bottom: 2px solid var(--background-normal);
	padding-bottom: 80px;
	margin-bottom: 39px;
}
.services-list{
	display: grid;
	grid-template-columns: 300px 300px 300px;
	column-gap:100px;
	grid-row-gap: 80px;
	list-style:none;
	margin: 0; 
	padding: 0;
}
.services-item{
	text-align: left;
}
.services-item img{
	margin-bottom: 25px;
	display: block;
}
.service-info{
	margin: 0;
	margin-bottom: 32px;
}
.services-button{
	min-width: 160px;
}
.button-green{
	background-color: var(--additional-accent-normal1);
}
.button-yellow{
	background-color: var(--additional-accent-normal2);
}
.button-green:hover{
	background-color: var(--additional-accent-hover1);
}
.button-green:active{ 	
	color: rgba(255,255,255,0.3);
 	background-color: var(--additional-accent-active1);
}
.button-yellow:hover{
	background-color: var(--additional-accent-hover2);
}
.button-yellow:active{ 	
	color: rgba(255,255,255,0.3);
 	background-color: var(--additional-accent-active2);
}



/* О нас  */

.about{
	border-bottom: 2px solid var(--background-normal);
	padding-bottom: 73px;
	
}
.about-info-container{
	display: flex;
	justify-content: space-between;
}
.about-info-wrap{
	padding-top: 35px;
	width: 651px;
}
.about-title{
	margin:0;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: var(--basic-text-black);
	margin-bottom: 33px;
}
.about-text{
	margin: 0;
	margin-bottom: 40px;
}
.about-description-subtitle{
	margin:0;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 23px;
	text-align: left;
}
.subtitle-table{
	text-align: center;
	margin-bottom:30px;
	color: var(--basic-text-black);
}
.about-description-list{
	margin: 0;
	padding:0;
	list-style: none;
}
.about-description-item{
	margin-bottom: 24px;
	position: relative;
	padding-left: 36px;
}
.about-description-item:last-child{
	margin-bottom: 0px;
}
.about-description-item::before{
	position: absolute;
	display: block;
	content:"";
	left:0;
	top: 11px; 
	width:25px;
	height:2px;
	background-color: var(--main-accent-normal);
}
.about-statistic{
	width: 360px;
}
.about-statistic img{
	display: block;
	width: 360px;
	height: 208px;
	margin-bottom: 37px;
}

.table-numbers{
	font-size: 45px;
	line-height: 64px;
	font-weight: 700;
	padding-bottom: 7px;
	padding-right: 7px;	
	width: 33.33%;
	color: var(--basic-text-black);
}
.table-numbers:first-child{
	padding-left: 0px;
    padding-top: 0px;
}
.table-content{
	line-height: 18px;
	width: 33.33%;
}
.table-content:first-child{
	padding-left: 0px;
    padding-top: 1px;
}
.percent{
	font-size: 26px;
	line-height: 40px;
	font-weight: 700;
	left: -12px; 
	top: -16px;  	
}

/* Партнеры  */

.partners{
	border-bottom: 2px solid var(--background-normal);
	margin-bottom:82px;
}
.partners-list{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 180px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 1160px;
}
.partners-item{
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    margin: 5px 0;
    min-height: 90px;
}
.partners-item:first-child, .partners-item:last-child {
	padding-top: 14px;
}
.partners-item::after{
	content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: var(--background-normal);
    right:-22px;
    top: 50%;
    transform: translate(-50%,-50%);
}
.logo-partners{
	display: block;
}
.partners-item:last-child::after{
	display: none;
}
.partners-item-link{    
 	opacity: 0.2;
}
.partners-item-link:hover{   
   opacity: 1;
}
.partners-item-link:active{   
 	opacity: 0.1;
}

/* Футер  */
	
.main-footer{
	padding-bottom: 75px;
}
.footer-map-contacts{
	position: relative;
	margin-bottom: 57px;
	width: 100%;
	min-width: 1200px;	
	min-height: 416px;
	padding-bottom: 10px;
	padding-top: 54px;
}
.address-wrap{
	position: relative;
    padding-bottom: 54px;
}
.footer-contacts{
	width: 319px;
	padding: 48px 50px;
	background-color:var(--basic-text-white);
	font-style: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-text-light);
}
.map-interaktive{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin:0;
	background: var(--background-normal) url(../img/map_marker.png) no-repeat;
  	background-size: cover;
    z-index: -1;
}
.map-interaktive iframe{
	border:none;
	background-size: 100%;
	width: 100%;
	height: 100%;

}
.footer-contacts-name{
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--basic-text-black);
	margin:0;
	margin-bottom: 23px;

}
.footer-contacts-address{
	font-size: 16px;
	line-height: 18px;
	margin: 0;
	margin-bottom: 18px;
}
.footer-phone-info{
	margin: 0;
	margin-bottom:38px;
}
.footer-contacts-phone{
	text-decoration: none;
	color: var(--basic-text-light);
	margin:0;
	cursor: pointer;
}	
.contacts-button{
	min-width:219px;
	height: 50px;
	cursor: pointer;
}
.footer-socials-wrap{
	display: flex;
	align-items: center;
}
.footer-socials-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin:0;
	padding: 0;
	margin-right: 140px;
	list-style:none;
	max-width:520px;
}
.footer-socials-item{
	margin-right: 9px;
	padding-bottom: 9px;
}
.footer-socials-item:last-child{
	margin-right: 0px;
}
.footer-socials-link{
	display: block;
	position: relative;
	width: 81px;
	height: 81px;
	border-radius:50%;
	align-items: center;
	background: var(--icon-normal);
}
.link-1::before{
	position:absolute;
	content:"";
	display: block;
	width: 26px;
	height: 15px;
	background: url(../img/vk-icon.svg) no-repeat;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.link-2::before{
	position:absolute;
	content:"";
	display: block;
	width: 12px;
	height: 22px;
	background: url(../img/fb-icon.svg) no-repeat;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.link-3::before{
	position:absolute;
	content:"";
	display: block;
	width: 21px;
	height: 21px;
	background: url(../img/insta-icon.svg) no-repeat;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.footer-socials-link:hover{
	background: var(--icon-hover);
}
.footer-socials-link:active{
	background: var(--icon-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.footer-socials-link:active::before {
	opacity: 0.3;
}
.footer-text{
	margin: 0;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: var(--basic-text-black);
	margin-bottom: 10px;
}
.footer-info{
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: var(--additional-text);
}
.footer-info-box{
	padding-bottom: 9px;
}

/* Модальное окно*/

.modal{
	position: fixed;
	width: 960px;
	background-color: var(--basic-text-white);
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
	padding:63px 100px 84px;
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);
		display: none;
	}
.form-popup{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.popup-title{
	margin: 0;
	margin-bottom: 37px;
	font-size: 45px;
	line-height: 53px;
	font-weight: bold;
	color: var(--basic-text-black);
}
.popup-button-close{
	position:absolute;
	padding: 0;
	top: 78px;
	right: 100px;
	border:0;
	width: 21px;
	height:21px;
	background-color: transparent;
	cursor: pointer;
}
.popup-button-close::before,                                                                                                             
.popup-button-close::after{
	content: "";
    position: absolute;
    display: block;
    right: -3px;
    top: 8px;
    width: 28px;
    height: 4px;
	border-radius:3px;
	cursor: pointer;
	background-color: var(--main-accent-normal);
	opacity: 0.3;	
}
.popup-button-close::before{
	transform: rotate(45deg);
}
.popup-button-close::after{
	transform: rotate(135deg);
}
.popup-button-close:hover::before{
	cursor: pointer;
	opacity: 1;
}
.popup-button-close:hover::after{
	cursor: pointer;
	opacity: 1;
}
.popup-button-close:active::before{
	opacity: 0.1;
}
.popup-button-close:active::after{
	opacity: 0.1;
}
.popup-item{
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	width: 360px;
	margin-bottom: 34px;
}
.popup-item:first-child{
	margin-right: 40px;
}
.popup-item label{
	display: block;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 9px;
}
.popup-item input, .popup-item textarea {
	display: block;
	padding:16px 14px 16px;
	border:2px solid var(--input-normal);
	border-radius: 3px;
	background-color: var(--basic-text-white);
	font: inherit;
	color: var(--basic-text-black); 
}
.popup-item input{
	width:360px;
}
.popup-item-textarea{
	width: 760px;
	min-height: 118px;
	margin-bottom: 47px;
}
.popup-item input::placeholder{
	color: var(--additional-text);
	opacity: 0.5;
}
.popup-item textarea::placeholder{
	color: var(--additional-text);
	opacity: 0.5;
}
.popup-item input:hover{
	border: 2px solid var(--input-hover);
}
.popup-item textarea:hover{
	border: 2px solid var(--input-hover);
}
.popup-item input:focus {
	border:2px solid var(--basic-text-black);
}
.popup-item textarea:focus{
	border:2px solid var(--basic-text-black);
}

.button-modal{
	cursor: pointer;
	width: 259px;
}

.popup-item input:invalid:required:not(:placeholder-shown){
	border: 2px solid var(--input-error);
	color: var(--main-accent-normal);
}
.popup-item textarea:invalid:required:not(:placeholder-shown){
	border: 2px solid var(--input-error);
	color: var(--main-accent-normal);
}

/* КАТАЛОГ */


/* шапка каталога */

.page-catalog-filter {
	display: grid;
	grid-template-columns: 260px 760px;
	column-gap: 140px;
	margin-bottom: 60px;
}
.page-catalog-header {
	background-color:var(--background-normal);
	padding-top: 68px;
	padding-bottom: 108px;
	margin-bottom: 57px;	
}

/* Форма   ФИЛЬТР */


.filter-form{
	width: 260px;
}
.form-fieldset-block {
	margin:0;
	padding: 0;
	border:none;
	margin-bottom: 54px;
}
.form-fieldset{
	padding: 0;
	margin: 0;
	margin-bottom: 46px;

}
.form-fieldset-special{
	padding: 0;
	margin: 0;
	margin-bottom: 58px;

}
.filter-title{
	margin:0;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--basic-text-black);
}
.filter-title-price{
	margin-bottom: 48px;
}
.filter-title-other{
	margin-bottom: 16px;
}
.range-controls{
	position: relative; /* потому что кружки будут относительно позиционироваться*/
	height: 80px; 	
	margin-bottom: 14px;
	background-color: var(--background-normal);
	border-radius: 3px;
	padding-top: 39px;
	padding-right: 22px;
	padding-left: 22px;
}
.range-controls .scale{
	background-color: var(--scale-basic);
	height: 2px;
}
.range-controls .progress-bar{
	height: 2px;
	background-color: var(--scale-progress);
	width: 70%;
}
.toggle{
	width: 20px; /*включаем бордер в общую ширину то есть весть кружок 20px*/
	height: 20px;
	position: absolute;
	top: 30px;
	left: 0px;

	padding: 0;

	background-color: var(--toggle-background);
	border: 8px solid var(--basic-text-white);
	border-radius:50%;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);	
	cursor: pointer;
}
.range-controls .min-toggle{
	left: 18px;
}
.range-controls .max-toggle{
	left: 160px;
}
.price-controls{
	display: flex;
	justify-content: space-between;
}
.price-controls label{
	font-family: 'Roboto','Arial', sans-serif;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
}
.price-controls input{
	font-family: inherit;
	font-size: inherit;
	width: 80px;
	background-color: var(--background-normal);
	color: var(--basic-text-medium);
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	border:none;
	border-radius: 3px;
	margin-left: 8px;
}
.filter-list{
	margin:0;
	padding:0;
	list-style-type:none;
}
.filter-item{
	line-height: 20px;          
	color: var(--basic-text-medium);
	margin-bottom: 20px;
}
.filter-item:last-child{
	margin-bottom:0;
}
.filter-label{
	position: relative;
	display: block;
	cursor: pointer;

	padding-left: 37px;
	line-height: 20px;
}
.filter-input-radio:checked + .filter-label:before{
	position: absolute;
	content:"";
	left:0;
	top: -2px; 
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-on.png);
	background-repeat: no-repeat;
	opacity: 0.4;
}
.filter-input-radio + .filter-label:before{
	position: absolute;
	content:"";
	display: block;
	left:0;
	top: -2px; 
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-off.png);
	background-repeat: no-repeat;
	opacity: 0.4;
}
.filter-input-checkbox:checked + .filter-label::before{
	position: absolute;
	content:"";
	left:0;
	display: block;
	top: -2px; 
	width: 25px;
	height: 23px;
	background-image: url(../img/checkbox-on.png);
	background-repeat: no-repeat;
	opacity: 0.4;
}
.filter-input-checkbox + .filter-label::before{
	position: absolute;
	content:"";
	display: block;
	left:0;
	top: -2px; 
	width: 25px;
	height: 23px;
	background-image: url(../img/checkbox-off.png);
	background-repeat: no-repeat;
	opacity: 0.4;
}
.filter-input-radio:checked + .filter-label:hover::before{
	opacity: 1;
}
.filter-input-radio + .filter-label:hover::before{
	opacity: 1;
}
.filter-input-checkbox:checked + .filter-label:hover::before{
	opacity: 1;
}
.filter-input-checkbox + .filter-label:hover::before{
	opacity: 1;
}


	


.filter-sort{
	display: flex;
	align-items: center;
	margin-bottom: 48px;
}
.filter-sort-wrap{
    display: flex;
    margin-left: auto;
}
.filter-sort-list{
	display: flex;
	padding: 0;
	margin: 0;
	margin-right: 47px;
	list-style-type: none;
}
.filter-sort-item{
	margin-right: 25px;
}
.filter-sort-item:last-child{
	margin-right: 0;
}
.filter-sort-link{
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--basic-text-black);
	opacity: 0.3;
}
.filter-sort-link:hover{
	opacity: 0.6;
}
.filter-sort-link:active{
	opacity: 1;
}


/*Кнопка фильтра Показать */

.button-grey{
	display: inline-block;
	background-color: var(--show-button-normal);
	color: var(--basic-text-black);
	padding: 17px 89px 15px 88px;
	border:none;
	cursor: pointer;
	min-width: 260px;
}
.button-grey:hover{
	background-color: var(--show-button-hover);
}
.button-grey:active{
	background-color:var(--show-button-aktive);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(0,0,0,0.3);
}

	/*КАТАЛОГ*/

/*Стрелки  вниз вверх */

.direction-icon{
	display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-right: 5px solid transparent;
    border-bottom: 9px solid var(--basic-text-black);
    border-left: 5px solid transparent;
    color:var(--basic-text-black);
    opacity: 0.3;
}
.direction-icon-down{
	transform: rotate(180deg);
}
.direction-icon-top{
	margin-left: 18px;
}
.sort-current{
	opacity: 1;
}
/*Стрелки  вниз вверх при наведении и клике */

.direction-icon:hover{
	opacity: 0.6;
}
.direction-icon:active{
	opacity: 1;
}

/*Каталог с шаблонами*/

.header-catalog-browser{
	width: 360px;
	height: 40px;
	background-color: var(--checkbox-normal);
	opacity: 0.12;
	border-radius: 4px 4px 0px 0;
}
.header-catalog-icons{
	display: flex;
	list-style: none;
	margin: 0;
	padding:0;
	padding-top: 13px;
	padding-left: 16px;;
}
.header-catalog-icon{
	margin: 0;
	padding:0;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: var(--basic-text-white);
	margin-right: 9px;
}
.catalog-item:hover .header-catalog-browser{
	opacity: 1;
}
.catalog-list{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 42px;
	grid-row-gap: 25px;
	list-style: none;
	margin: 0;
	padding:0;
	margin-bottom: 50px;
}
.catalog-item{
	position: relative; /*позиция? */
	border-radius: 5px;
}
.catalog-pict{
	border-radius: 0 0 5px 5px;	
	width: 358px;
	height:578px;
}
.catalog-item:hover{
	box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

/* Карточки инфо*/

.catalog-card {
	position: absolute;
	width: 360px;
	height: 231px;
	background-color: var(--background-normal);
	text-align: center;
	padding:23px 52px 44px 53px;
	transform:translate(0px, -230px);
}
.title-card{
	margin-bottom: 12px;
}
.catalog-card-link{
	text-decoration: none;
	color:var(--basic-text-black);
	margin-bottom: 12px;
}
.catalog-card-link:hover{
	color:var(--main-accent-normal);
}
.catalog-card-link:active{
	color: rgba(0,0,0,0.3);
}

.catalog-card-info{
	margin:0;
	margin-bottom: 32px;
	line-height: 18px;
	color: var(--card-text);
}

/*Кнопка в карточке с ценой*/

.card-button{
	width: 200px;
	padding: 17px 72px 15px;
	margin:0 auto;
}
.card-button:hover{
	background-color: var(--main-accent-hover);
}
.card-button:active{
	background-color: var(--main-accent-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*-- 1 2 3 Следующая*/ /* box-shadow: inset 0 0 1px #cccccc;*/

.pagination-list{
	display: flex;
	list-style: none;
	margin: 0;
	padding:0;
}
.pagination-item{
	margin-right: 11px;
}
.pagination-item:last-child{
	margin-right:0;
}
.pagination-button{
	display: inline-block;
	width: 50px;
	height: 50px;
	padding:17px 20px 15px; 
	text-decoration: none;
	color:var(--basic-text-black);
	border-radius: 3px;
	text-transform: uppercase;
	background-color:var(--pagination-background-normal);
}
.pagination-button:hover{
	background-color:var(--pagination-background-hover);
}
.pagination-button:active{
	background-color:var(--pagination-background-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(0,0,0,0.3);
}
.pagination-button-current{
	box-shadow:inset 0px 0px 0px 3px var(--pagination-border);
	background: rgba(0, 0, 0, 0.0001);
	cursor: no-drop; 
}
.pagination-button-current:hover{
	box-shadow:inset 0px 0px 0px 3px var(--pagination-border);
	background: rgba(0, 0, 0, 0.0001);
}









































