	/* Variables*/
:root{

	/* INDEX*/
	/* Text*/

--basic-text-black:#000000;
--basic-text-medium:#283136;
--basic-text-light:#666666;
--basic-text-white:#FFFFFF;
--additional-text:#444444;

	/* Logo*/
--logo-active:#A6A6A6;

	/* Navigation*/

--basis-text-hover:#FB565A;
--basis-text-active:#000000; /* + Opacity 0.3*/


--icon-normal:linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
--icon-hover:linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
--icon-active:linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;


--icon-topdown-active:#231F20; /*opacity: 0.3;*/
--icon-topdown-hover:#231F20; /*opacity: 0.6;*/
--icon-topdown:#000000; 



--card-text:#666666;

 /* Радио кнопка ,чекбокс */

--radio-normal:#4D4D4D;


 /* 1 2 3 Следующая */

--pagination-background-normal:#EEEEEE;
--pagination-background-hover:#DFDFDF;
--pagination-background-active:#D5D5D5; /* =+box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);*/
--pagination-border:#DBDBDB;



	/* Button red, green, yellow*/

--main-accent-normal:#FB565A;
--main-accent-hover:#E74246;
--main-accent-active:#D7373B;

--additional-accent-normal1:#00CA74;
--additional-accent-hover1:#00BC6C;
--additional-accent-active1:#00AA62;

--additional-accent-normal2:#EFC849;
--additional-accent-hover2:#EAB534;
--additional-accent-active2:#E5A722;

	/* CATALOG*/
	
	/* Grey button + input*/

--show-button-normal:#EEEEEE;
--show-button-hover:#DFDFDF;
--show-button-aktive:#D5D5D5;

}


body{
	min-width: 1160px;
	padding: 0;
	margin:0;
	font-family: 'Roboto','Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--basic-text-medium);
	background: var(--basic-text-white);
}
img{
	max-width: 100%;
	height: auto;
}
.h3{
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--basic-text-black);
}
.h1{
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-text-black);
	
}

/* Навигация */

.main-header, .offer-slider, .section-title{	
	background-color:var(--background-normal);
}
.main-nav{
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: var(--basic-text-black);
}
.main-header-logo:hover .logotip{    /* при наведении картинка в ссылке меняет прозрачность */
	opacity: 0.7;
}
.main-header-logo:active .logotip{    /* картинка в ссылке меняет прозрачность */
	opacity: 0.3;
}
.navigation-item a{  
	text-decoration: none;
	color: var(--basic-text-black);
}
.navigation-list{
	list-style: none;
}
.navigation-item a{
	color: var(--basic-text-black);
}
.navigation-item a:hover{
	color: var(--basis-text-hover);
}
.navigation-item a:active{
	color: var(--basis-text-active);
	opacity: 0.3;
}

/* Главный слайдер  */

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}
.offer-slider-box1{
	background-image: url(../img/nerds-index-slide1.png);
	background-repeat: no-repeat;
	background-position: right;
}
.offer-slider-box2{
	background-image: url(../img/nerds-index-slide2.png);
	background-repeat: no-repeat;
	background-position: right;
}
.offer-slider-box3{
	background-image: url(../img/nerds-index-slide3.png);
	background-repeat: no-repeat;
	background-position: right;
}
.offer-title{
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: var(--basic-text-black);
} 

/* Кнопка  */

.button{
	font:inherit;
	color: var(--basic-text-white);
	background-color:var(--main-accent-normal);
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	width: 240px;
	height: 50px;
	border-radius: 3px;
	padding: 17px 54px 15px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;

}
/* Кнопка при наведении и клике */

.offer-button:hover{
	background-color: var(--main-accent-hover);
}
.offer-button:active{ 	/* шрифт белый полупрозрачный */
	
	color: rgba(255,255,255,0.3);
 	background-color: var(--main-accent-active);
}


/* Услуги  */


.services-list{
	list-style:none;
}
.services-item{
	text-align: left;
}
.services-button{
	padding: 17px 40px 15px 39px;
	width: 160px;
	height: 50px;
}
.service-btn-green{
	background-color: var(--additional-accent-normal1);
}
.service-btn-yellow{
	background-color: var(--additional-accent-normal2);
}

/*  btn hover and active  */

.service-btn-red:hover{
	background-color: var(--main-accent-hover);
}
.service-btn-red:active{ 	
	color: rgba(255,255,255,0.3);
 	background-color: var(--main-accent-active);
}
.service-btn-green:hover{
	background-color: var(--additional-accent-hover1);
}
.service-btn-green:active{ 	
	color: rgba(255,255,255,0.3);
 	background-color: var(--additional-accent-active1);
}
.service-btn-yellow:hover{
	background-color: var(--additional-accent-hover2);
}
.service-btn-yellow:active{ 	
	color: rgba(255,255,255,0.3);
 	background-color: var(--additional-accent-active2);
}



/* About  */


.about-title{
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: var(--basic-text-black);
}
.about-description-subtitle{
	font-weight: 700;
	text-transform: uppercase;
}
.table-numbers{
	font-size: 45px;
	line-height: 64px;
	font-weight: 700;
}

.table-content{
	font-size: 16px;
	line-height: 18px;
}
.percent{
	font-size: 26px;
	line-height: 40px;
	font-weight: 700;
	left: -10px;   	
}
.partners-list{
	list-style:none; 
}
.partners-item-link{    
 	opacity: 0.2;
 }

.partners-item-link:hover{   
   opacity: 1.0;

}
.partners-item-link:active{   
 	opacity: 0.1;
}

.footer-contacts{
	font-style: normal;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-text-light);
}
.footer-contacts-name{
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--basic-text-black);
}
.footer-contacts-phone{
	text-decoration: none;
	color: var(--basic-text-light);
}	
.contacts-button{
	width: 219px;
	height: 50px;
	padding: 17px 44px 15px;
	border:0;
	cursor: pointer;
}
.contacts-button:hover{
	background-color: var(--main-accent-hover);
}
.contacts-button:active{
	color: rgba(255,255,255,0.3);
 	background-color: var(--main-accent-active);
}
.footer-socials-list{
	list-style:none;
	display: flex;
	flex-wrap: wrap;
}
.footer-socials-link{
	width: 81px;
	height: 81px;
	border-radius:50%;
	display: inline-block;
	background: var(--icon-normal);

}
.footer-socials-link:hover{
	background: var(--icon-hover);
}
.footer-socials-link:active{
	background: var(--icon-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.footer-text{
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: var(--basic-text-black);
}
.footer-info{
	font-size: 16px;
	line-height: 22px;
	color: var(--additional-text);
}

/* Каталог */

.filter-title{
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--basic-text-black);
}
.filter-label{
	line-height: 20px;
}
.filter-inputs-label{
	line-height: 22px;
}
.filter-list{
	list-style-type:none;
}
.filter-item{
	line-height: 20px;
	color: var(--basic-text-medium);
}
.filter-sort-link{
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	color: var(--basic-text-black);
	opacity: 0.3;
}
.filter-sort-link:hover{
	opacity: 0.6;
}
.filter-sort-link:active{
	opacity: 1.0;
}
.button-filter{
	background-color: var(--show-button-normal);
	color: var(--basic-text-black);
	padding: 17px 89px 15px 88px;
	border:none;
	cursor: pointer;
}
.button-filter:hover{
	background-color: var(--show-button-hover);
}
.button-filter:active{
	background-color:var(--show-button-aktive);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(0,0,0,0.3);
}


/*

<input class="button button-filter" type="submit" value="Показать">


.radio-button-checked{
	
	background-color: var(--radio-normal);
	
}*/

/*Стрелки  вниз вверх */

.direction-icon{
	display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-right: 5px solid transparent;
    border-bottom: 9px solid var(--basic-text-black);
    border-left: 5px solid transparent;
    color:var(--basic-text-black);
    opacity: 0.3;
}

.direction-icon-down{
	transform: rotate(180deg);
}

/*Стрелки  вниз вверх при наведении и клике */

.direction-icon:hover{
	opacity: 0.6;
}
.direction-icon:active{
	opacity: 1.0;
}

/*Шаблоны*/
.catalog-item{
	border-radius: 5px;
}
.catalog-pict{
	border-radius: 0 0 5px 5px;
	
}
.catalog-item:hover{
	box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}
.catalog-list{
	list-style: none;
}
.catalog-card{
	text-align: center;
}
.catalog-card-link{
	text-decoration: none;
	color:var(--basic-text-black);
}
.catalog-card-info{
	line-height: 18px;
	color: var(--card-text);
}
.card-button{
	width: 200px;
	padding: 17px 72px 15px;
}
.pagination-list{
	list-style: none;

}
.pagination-item{
	margin-bottom: 40px; /*  временный отступ- чтобы видеть кнопки , а то сливаются))*/
}
.pagination-link{
	padding:17px 20px 15px; 
	text-decoration: none;
	color:var(--basic-text-black);
	border-radius: 3px;
	background-color:var(--pagination-background-normal);
}
.pagination-link:hover{
	background-color:var(--pagination-background-hover);
}
.pagination-link:active{
	background-color:var(--pagination-background-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(0,0,0,0.3);
}

.pagination-link-current{
	text-decoration: none;
	color:var(--basic-text-black);
	border: 3px solid var(--pagination-border);
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.0001);
}











































